<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3># of unique products: <%= @quantity %> </h3>
<h3>Average price of products: <%= @average_price %> </h3>
<h3>Sum of the stock of all products: <%= @stock_sum %> </h3>


<%= link_to 'New Product', new_product_path %>

<ul>
  <% 100.times do %>
      <li><%= "Chunky Bacon" %></li>
  <% end %>
</ul>